<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Feedback</title>

  <link rel="stylesheet" href="{%static 'css/feedback.css'%}">
  <link rel="icon" href="{%static 'images/favicon.ico'%}">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-sm navbar-light" style="background-color: #34d9d9;">
    <div class="container-fluid div2">
      <a class="navbar-brand" href="/citizenportal"><img height="60px" src="{%static 'images/favicon.ico'%}"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="padding: 0 auto 0;" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="margin: 0 30px 0;" class="nav-link active" aria-current="page" href="/citizenportal">Home</a>
          </li>
          <li class="nav-item">
            <a style="margin: 0 30px 0;" class="nav-link" href="/request">Request Disposal</a>
          </li>
          <li class="nav-item">
            <a style="margin: 0 30px 0;" class="nav-link" href="/feedback">Give Feedback</a>
          </li>
          <li class="nav-item">
            <a style="margin: 0 30px 0;" class="nav-link" href="/about">About Us</a>
          </li>

        </ul>
        <div class="logout">
          <a class="nav-link" href="#"><button type="button" class="btn btn-outline-danger">Log Out</button></a>
        </div>
      </div>
    </div>
  </nav>
  <h1>Give Us Your Feedback!</h1>
  <br><br>

  <div class="ratings-container">
    <h3>How Do You Feel About Our Services ?</h3>
    <span class="rating1">
      <img class="emoji sad" src="{%static 'emoji/sad.png'%}" alt="Unhappy">
      <small><strong style="margin-left:8px;">Unhappy</strong></small>
    </span>

    <span class="rating2">
      <img class="emoji meh" src="{%static 'emoji/meh.png'%}" alt="Meh" />
      <small><strong style="margin-left:7px;">Neutral</strong></small>
    </span>

    <span class="rating3">
      <img class="emoji grin" src="{%static 'emoji/grin.png'%}" alt="" />
      <small><strong style="margin-left:6px;">Satisfied</strong></small>
    </span>

  </div>
 
  <div class="feedback-form hidden">
    <h3 style="margin-bottom:40px;">What Can We Do To Make Your Experience Better?</h3>
    <br><br>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" maxlength="50" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password" maxlength="30" required>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Feedback</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="1000"></textarea>
      </div>
      <br>
      <br>
      <br>
      <br>
      <a href="/thankyou"></a> <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  <div class="thank-you hidden">
    <h2 style="margin-top: 200px;margin-bottom: 200px;margin-left:15px;">Thank You For Your Feedback! Your response has been Received !</h2>
  </div>
  <br><br><br><br>



  <footer>

    <div class="footer-text">
      Follow Us
    </div>
    <span class="footer-logo"><img style="height:100px;margin-right: 10px;" src="{%static 'images/leaf.png'%}" alt="logo"></span>
    <br>
    <br>



    <div class="social-icons">
      <a href="#"><img class="icons" src="{%static 'images/facebook.png'%}" alt=""></a>
      <a href="#"><img class="icons" src="{%static 'images/instagram.png'%}" alt=""></a>
      <a href="#"><img class="icons" src="{%static 'images/twitter.png'%}" alt=""></a>

    </div>


  </footer>


  <!-- Optional JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{%static 'js/feedback.js'%}" charset="utf-8"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
